/* Keep existing styling */
#wrapper {
    padding: 40px;
}

.menu-transition {
    transition: left 600ms ease-in-out;
}

.side-nav li a {
    padding: 24px;
}

.navbar-nav li a .shortmenu {
    float: right !important;
    display: block !important;
}

.navbar-nav.side-nav {
    background: #030303 !important;
    box-shadow: 2px 1px 2px rgb(10, 8, 14) !important;
    position: fixed !important;
    top: 56px !important;
    flex-direction: column!important;
    left: -140px !important;
    width: 500px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: row;
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    background: rgb(7, 7, 7);
    height: 57px;
}

.navbar-toggler {
    top: 0px;
}

.card-title {
    font-size: 26px;
}

@media (max-width: 991px) {
    /* Adjustments for small screens */
    .navbar-nav.side-nav {
        width: 100%;
        left: 0;
        top: 0;
        bottom: auto;
        height: auto;
    }
}

@media (min-width: 992px) {
    /* Keep existing styling for larger screens */
    #wrapper {
        padding: 40px;
    }

    .navbar-nav.side-nav {
        width: 120px;
        left: 0;
    }

    .side-nav li a {
        padding: 21px;
    }

    .navbar-nav li a .shortmenu {
        float: right;
        display: block;
        opacity: 1;
    }

    .navbar-nav.side-nav:hover li a .shortmenu {
        opacity: 0;
    }

    .navbar-nav.side-nav {
        background: #080808;
        box-shadow: 2px 1px 2px rgb(10, 8, 14);
        position: fixed;
        top: 56px;
        flex-direction: column!important;
        width: 10%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.animate {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.side-nav li {
    border-bottom: 1px solid #50575d;
}

.links a:hover {
    color: black;
}

.company h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.links a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
